body {
    margin: 0;
}
.banner {
    background: #000000;
    color: #FFFFFF;
    height: 20px;
    text-align: center;
    padding: 5px;
    font-family: "Roboto";
}
p {
    /* color: aquamarine; */
    /* background: blue; */
    /* border: burlywood; */
    margin: 0;
}